@font-face {
  font-family: 'robotoitalic';
  src:
    url('../fonts/roboto-italic-variablefont_wdthwght-webfont.woff2')
      format('woff2'),
    url('../fonts/roboto-italic-variablefont_wdthwght-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src:
    url('../fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
    url('../fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  --icon-large-height: 5rem;
  --icon-medium-height: 2.5rem;
  --icon-small-height: 1rem;
  --icon-small-width: 1.25rem;
  --border-radius-small: 0.5rem;
  --border-radius-large: 1rem;
  --gap-small: 0.5rem;
  --gap-mid: 1rem;
  --gap-large: 1.5rem;
  --min-content-width: 360px;
  --card-color: white;
  --bg-color: rebeccapurple;
  --status-color: red;
  --alt-color: gray;
  --prompt-color: lightGray;
  --footer-font-size: 0.75rem;
  --card-big-font-size: 5rem;
}

/* ===== MAIN LAYOUT ===== */

body,
fieldset,
.inputs,
.status-wrapper,
.content {
  display: flex;
}

body,
.inputs,
.status-wrapper,
.content {
  flex-direction: column;
  gap: var(--gap-mid);
}

body,
.status-wrapper {
  align-items: center;
}

body {
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  padding-top: 1.5rem;
  justify-content: center;
}

body > * {
  min-width: var(--min-content-width);
}

.inputs,
.status-wrapper,
.content {
  width: 20%;
}

h1,
.status {
  text-align: center;
}

input[type='text'],
.prompt {
  width: 100%;
  border-radius: var(--border-radius-large);
}

input[type='text'] {
  border: none;
  padding: 0.5rem 1rem;
}

.unit,
.unit *,
.prompt,
button {
  cursor: pointer;
}

fieldset {
  justify-content: space-around;
  border-radius: var(--border-radius-small);
}

label {
  padding-left: 0.5rem;
}

button {
  padding: 0.25rem 0.5rem;
  min-width: 30%;
}

.content {
  flex: 1;
  justify-content: space-around;
}

.input-wrapper,
.status-wrapper {
  position: relative;
}

.input-wrapper {
  z-index: 1;
}

.prompt,
.status {
  position: absolute;
}

.prompt,
.status-wrapper {
  z-index: -1;
}

.prompt {
  display: none;
  top: 1.25rem;
  background-color: var(--prompt-color);
  padding: 1.75rem 1rem 0.5rem;
}

.prompt:hover {
  background-color: var(--alt-color);
}

.status {
  color: var(--status-color);
  height: 0;
  width: 100%;
  top: 0;
  left: 0;
}

/* ===== END OF MAIN LAYOUT ===== */

/* ===== ICONS ===== */
.icon,
button {
  align-self: center;
}

.icon-small {
  height: var(--icon-small-height);
  width: var(--icon-small-width);
}

.icon-mid {
  height: var(--icon-medium-height);
}

.icon-large {
  height: var(--icon-large-height);
}
/* ===== END OF ICONS ===== */

/* ===== SHADOWS ===== */
ol,
.card {
  box-shadow: 4px 4px 5px 1px black;
}
/* ===== END OF SHADOWS ===== */

/* ===== MAIN CARD ===== */
.card,
.card-top,
.card-main-details,
.card-footer,
.card-footer-item {
  display: flex;
}

.card,
.card-top {
  flex-direction: column;
}

.card {
  padding: 1rem;
  background-color: var(--card-color);
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-large);
  gap: var(--gap-mid);
  text-align: center;
}

.card-top {
  gap: var(--gap-small);
}

.date {
  color: var(--alt-color);
}

.card-main-details {
  font-size: var(--card-big-font-size);
  gap: var(--gap-large);
}

.card-footer,
.card-footer-item {
  justify-content: center;
}

.card-footer {
  width: 100%;
}

.card-footer-item {
  width: 50%;
  padding: 0.5rem;
  gap: var(--gap-mid);
}

.card-footer-item:first-child {
  border-right: 1px solid black;
}
/* ===== END OF MAIN CARD ===== */

/* ===== FORECAST ===== */
li,
.details {
  display: flex;
}

ol {
  padding-left: 0;
  margin-top: var(--gap-small);
  border-radius: var(--border-radius-small);
}

li {
  justify-content: space-between;
  padding: 0.15rem 1rem;
  background-color: white;
}

li + li {
  border-top: 1px solid black;
}

li:first-child {
  border-top-left-radius: var(--border-radius-small);
  border-top-right-radius: var(--border-radius-small);
}

li:last-child {
  border-bottom-left-radius: var(--border-radius-small);
  border-bottom-right-radius: var(--border-radius-small);
}

.details {
  width: 20%;
  justify-content: space-between;
  gap: var(--gap-small);
}
/* ===== END OF FORECAST ===== */

/* ===== FOOTER ===== */
footer {
  margin-bottom: 0.5rem;
  font-size: var(--footer-font-size);
  text-align: center;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: inherit;
}
/* ===== END OF FOOTER ===== */

/* ===== LOADING SPINNER ===== */
.loader {
  min-width: var(--icon-small-width); /* control the size */
  aspect-ratio: 1;
  display: grid;
  visibility: hidden;
  mask: conic-gradient(from 22deg, #0003, #000);
  animation: load 1s steps(8) infinite;
}
.loader,
.loader:before {
  --_g: linear-gradient(var(--card-color) 0 0) 50%; /* update the color here */
  background:
    var(--_g) / 34% 8% space no-repeat,
    var(--_g) / 8% 34% no-repeat space;
}
.loader:before {
  content: '';
  transform: rotate(45deg);
}
@keyframes load {
  to {
    transform: rotate(1turn);
  }
}
/* ===== END OF LOADING SPINNER ===== */
